<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©  , made with ❤️ by
        <a href="javascript:void(0)" target="_blank" class="footer-link fw-bolder"> ahmed</a>
      </div>
      <div>
        <a href="javascript:void(0)" class="footer-link me-4">License</a>
        <a href="javascript:void(0)" class="footer-link me-4">Documentation</a>
        <a href="javascript:void(0)" class="footer-link">Support</a>
      </div>
    </div>
  </footer>